.card {
  width: 300px;
  border: 2px solid #e9eceb;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  gap: 15px;
}

.btn {
  width: 70px;
  border: 2px solid #e9eceb;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  gap: 15px;
  background-color: #f7f7f7;
  font-size: 24px;
}

.icon {
  background-color: #f6ffed;
  padding: 10px;
  border-radius: 24px;

  svg {
    font-size: 24px;
    color: #7fd360;
  }
}

.title {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.count {
  font-size: 20px;
  font-weight: 700;
}
