.filter {
}

.search {
  width: 400px;
}

.assign {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #1677ff;
  }
}

.pink {
  background-color: rgba(244, 143, 177, 0.5) !important;
  color: #a03060 !important;
}
