.filter {
}

.search {
  width: 400px;
}

.assign {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #1677ff;
  }
}

.tab_label {
  padding: 5px 10px;
  border-radius: 10px;
}

.red {
  background-color: #f4cccc !important;
}

.orange {
  background-color: #fce5cd !important;
}

.yellow {
  background-color: #fff2cc !important;
}

.green {
  background-color: #d9ead3 !important;
}

.blue {
  background-color: #d0e0e3 !important;
}

.sinii {
  background-color: #cfe2f3 !important;
}

.purple {
  background-color: #ead1dc !important;
}
