.search {
  width: 400px;
}

.assign {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #1677ff;
  }
}

.tabs {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.tab_label {
  padding: 5px 10px;
  border-radius: 10px;
}

.red {
  background-color: rgba(242, 139, 130, 0.5) !important;
  color: #a02020 !important;
}

.orange {
  background-color: rgba(255, 184, 108, 0.5) !important;
  color: #a35e00 !important;
}

.yellow {
  background-color: rgba(255, 241, 118, 0.5) !important;
  color: #a68b00 !important;
}

.green {
  background-color: rgba(174, 213, 129, 0.5) !important;
  color: #507b2d !important;
}

.blue {
  background-color: rgba(129, 212, 250, 0.5) !important;
  color: #22697d !important;
}

.sinii {
  background-color: rgba(100, 181, 246, 0.5) !important;
  color: #1c5a99 !important;
}

.purple {
  background-color: rgba(186, 104, 200, 0.5) !important;
  color: #702d7a !important;
}

@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 400px) {
}

@media (max-width: 320px) {
}
