:global {
  .ant-table,
  .ant-table-cell,
  .ant-table-thead > tr > th {
    padding: 3px !important;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    font-size: 14px;
  }
}
